:root {
    --primary-nav-color: #0e141b;

    --primary-body-color: #eaedef;
    --secondary-body-color: #252526;

    --border-color: #2d2d2d;
    
    --primary-text-color: #fff;
    --secondary-text-color: #818a91;

    --btn-color: #ff5277;
    --btn-secondary-color: #ff2957;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: linear-gradient(#0e141b, #252526);
    font-family: sans-serif;
    color: var(--primary-text-color);
}

html {
    scroll-behavior: smooth;
}

footer {
    border-top: 1px solid var(--border-color);

}

a:link {
    text-decoration: none;
}

#about {
    scroll-margin-top: 80px;
}

#projects {
    scroll-margin-top: 80px;
}

.container {
    width: 80%;
    max-width: 1300px;
    margin:10px auto;
}

.columns {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}

.sub-columns {
}

.col {
    
}

.about-section {
    display: flex;
}

.col-1 {
    width: 50%;
}

.col-2 {
    width: 60%;
}

.my-picture {
    max-height: 600px;
    justify-content: center;
}

.project-icon {

}

.page_title {
    margin: 1rem 0;
    font-size: 4.5rem;
}

.page_pretitle a{
    text-transform: uppercase;
    color: var(--btn-color);
    font-weight: 700;
    font-size: 1.5rem;
}

.page_pretitle a:hover{
    color: var(--btn-secondary-color);;
}

.title_text {
    font-size: 2rem;
    font-weight: 300;
    color: var(--secondary-text-color);
    text-align: justify;
}

.navbar {
    background:var(--primary-nav-color);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    z-index: 1;
    width: 80%;
    max-width: 1300px;
    margin: 0 auto;
}

#navbar__logo {
    color: var(--nav-text-color);
    background-size: 100%;
    
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
}


.navbar__menu {
    display: flex;
    align-items: center;
    list-style-type: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.navbar__links:hover {
    color: grey;
    transition: all 0.3s ease;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

footer p {
    color: grey;
    text-align: center;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding:  10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: var();
    color: #fff;
    background: #4837ff;
}

.button:hover {
    background: #6d60fa;
    transition: all 0.2s ease;
}

/* Mobile support 
 "Trigger classes once screen is 960px  */
@media  screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto; 
        margin: 0;
        width: 100%;
        position: absolute;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #131313;
        
        top: -1000px;
        opacity: 0;
        /*
        */
    }

    .navbar__menu.active {
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 50px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin:  5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width: 100%;
    }
    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
        
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;

    }

    /* Menu animation*/
    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .about-section {
        display: flex;
        flex-direction: column;
    }

    .page_title {
        font-size: 4rem;
    }
    
    .page_pretitle a{
        font-size: 1rem;
    }
    .title_text {
        font-size: 1.5rem;
    }
    .my-picture {
        max-width: 100%;
    }
}


/* Sticky Note
*/

@import url(https://fonts.googleapis.com/css?family=Satisfy);
.sticky-container {
  margin-top: 50px;
  position: relative;
}
 
.note {
  color: #333;
  position: relative;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  font-family: Satisfy;
  font-size: 30px;
  box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
}
.note .yellow {
  display: block;
  margin: 40px 0 0 0;
  text-align: right;
}

.yellow {
  background: #eae672;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
}

	.pin {
  background-color: #aaa;
  display: block;
  height: 32px;
  width: 2px;
  position: absolute;
  left: 50%;
  top: -16px;
  z-index: 1;
}

.pin:after {
  background-color: #A31;
  background-image: radial-gradient(25% 25%, circle, hsla(0,0%,100%,.3), hsla(0,0%,0%,.3));
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.1), inset 3px 3px 3px hsla(0,0%,100%,.2), inset -3px -3px 3px hsla(0,0%,0%,.2), 23px 20px 3px hsla(0,0%,0%,.15);
  content: '';
  height: 12px;
  left: -5px;
  position: absolute;
  top: -10px;
  width: 12px;
}

.pin:before {
  background-color: hsla(0,0%,0%,0.1);
  box-shadow: 0 0 .25em hsla(0,0%,0%,.1);
  content: ''; 

  height: 24px;
  width: 2px;
  left: 0;
  position: absolute;
  top: 8px;
 
  transform: rotate(57.5deg);
  -moz-transform: rotate(57.5deg);
  -webkit-transform: rotate(57.5deg);
  -o-transform: rotate(57.5deg);
  -ms-transform: rotate(57.5deg);
 
  transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
}