/* 
    Old colors

    --color-black-10: #252526;
    --bg-color: #E7ECEF;
    --color-black: #000;
    --color-white: #fff;
    --color-white-10: #F5F7DC;
    --color-white-20: #eaedef;
    --color-grey-10: #818a91;

    
    --color-red-10: #ff5277;
    --color-red-20: #ff2957;
    --btn-hover: #6d60fa;
    --btn-primary: #4837ff;
    --color-blue-20: #003496;
*/

:root {
    --color-white-10: #F5F7DC;
    --color-white-20: #eaedef;
    --color-grey-10: #818a91;
    --color-red-20: #ff2957;
    --color-blue-20: #003496;

    --bg-color: #E7ECEF;
    --btn-hover: #6d60fa;
    --btn-primary: #4837ff;
    --nav-bg: #297373;
    --nav-link: #fff;
    --nav-link-hover: ;
    --page-title: #161b33;
    --page-pretitle: #6d60fa;
    --section-text: #639FAB;
    --card-bg: #eaedef;
    --link-bg: #6d60fa;
    --link-hover: #6d60fa;
}

[data-theme="dark"] {
    --bg-color:  #161b33;
    --nav-bg: #0e141b;
    --page-title: #fff;
    --card-bg: #0D0C1D;
    --link-bg: #6d60fa;
    --link-hover: #4837ff;
    --page-pretitle: #ff5277;
    --section-text: #639FAB;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
    scroll-behavior: smooth;
}

body {
    background: var(--bg-color);
    color: var(--color-white);
    margin: 0 auto;
}

a {
    color: var(--link-bg);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover);
}

ul {
    list-style: disc inside none;
}

.text-center {
    text-align: center;
}

.split {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.split > * {
    flex-basis: 100%;
    margin: 1rem 0;
}

@media (max-width:960px) {
    .split {
        flex-direction: column;
    }

    .project-img,
    .about-img {
        margin: 0 auto;
        width: 100%;
    }
}

img {
    width: 100%;
    display: block;
}

section {
    width: min(80%,1100px);
    height: 100vh;
    margin: 5rem auto;
    display: flex;
}

.container {
    width: 100%;
    margin: auto 0;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.card {
    background: var(--card-bg);
    padding: 1rem;
    box-shadow: 0 4px 6px rgb(0 0 0 / 30%);
}

.card-grow {
    transition:transform 0.25s ease;
}

.card-grow:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.05);
}

.page-pretitle {
    color: var(--page-pretitle);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.75rem;
}

.page-title {
    color: var(--page-title);
    margin: .5rem 0;
    font-size: 4rem;
}

.section-text {
    font-size: 2rem;
    font-weight: 300;
    color: var(--section-text);
    text-align: left;
}

.button {
    align-items: center;
    background: var(--btn-primary);
    border: none;
    border-radius: 4px;
    color: var(--nav-link);
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
}

.button:hover {
    background: var(--btn-hover);
    color: var(--nav-link);
    transition: all 0.2s ease;
}

/*---------------
    Theme toggle
---------------*/

.toggle input[type='checkbox'] {
    display: none;
}

.toggle label {
    background-color: #3b93db;
    border: 2px solid #006dc9;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    margin-top: 1rem;
    position: relative;
    transition: all ease-in-out 0.2s;
    height: 50px;
    width: 50px;
}

.toggle label::after {
    background-color: yellow;
    border-radius: 50%;
    content: ' ';
    cursor: pointer;
    display: inline-block;
    position: absolute;
    left: 2px;
    top: 2px;
    transition: all ease-in-out 0.2s;
    height: 42px;
    width: 42px;
}

.toggle input[type='checkbox']:checked ~ label {
    background-color: whitesmoke;
    border-color: grey;
}

.toggle input[type='checkbox']:checked ~ label::after {
    background-color: var(--bg-color);
    transform: translate(10px,-10px);
}

/*--------------------
    Nav menu
----------------------*/
.navbar {
    background: var(--nav-bg);
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    z-index: 1;
    width: min(80%, 1100px);
}

#logo {
    color: var(--nav-link);
    font-size: 1.75rem;
    cursor: pointer;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style-type: none;
    text-align: center;
}

.nav-item {
    height: 80px;
}

.nav-links {
    color: var(--nav-link);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.nav-links:hover {
    color: var(--nav-link-hover);
    transition: all 0.3s ease;
}

.nav-mobile-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    width: 100%;
}

/*---------------------------
    PROJECT SECTION
-----------------------------*/

.project {
    display: flex;
    flex-direction: column;
}

.project-title {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 1rem;
}

.project-details {
    display: flex;
    flex-direction: column;
    color: var(--color-grey-10);
    font-size: 1.5rem;
}

.project-details ul {
    margin: 1rem;
}

/*---------------------------
    ABOUT SECTION
-----------------------------*/

#about p {
    padding-right: 2rem;
}

footer {
    background: var(--nav-bg);
    color: var(--color-white);
}

.footer-container {
    width: min(80%, 1110px);
    margin: 0 auto;
}

footer p {
    text-align: center;
    padding: 2rem;
}

/*---------------------------
    MOBILE CHANGES SECTION
-----------------------------*/

@media screen and (max-width: 960px) {
    .nav-container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 9600px;
        padding: 0;
    }

    .nav-menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #131313;
        /* Trouble seciton*/
        top: -1000px;
        opacity: 0;
    }

    .nav-menu.active {
        background: var(--nav-bg);
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #logo {
        padding-left: 10%;
    }

    .nav-toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .nav-item {
        width: 100%;
    }

    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .nav-btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
    }

    .nav-toggle .bar {
        display: block;
        cursor: pointer;
    }

    /* Menu animation*/
    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .page-pretitle {
        font-size: 1rem;
    }
    
    .page-title {
        font-size: 3rem;
    }
    
    .section-text {
        font-size: 1rem;
    }

    .project-header {
        font-size: 2rem;
    }

    .project-details {
        font-size: 1rem;
    }

    section {
        margin: 0 auto 10rem auto;
    }
}