:root {
    --nav-primary-color: #0e141b;
    --nav-secondary-color: #252526;

    --primary-body-color: #eaedef;
    --border-color: #2d2d2d;
    
    --primary-text-color: #fff;
    --secondary-text-color: #818a91;

    /* Variables for portfolio page */
    --btn-color: #ff5277;
    --btn-secondary-color: #ff2957;
    --nav-btn-color: #4837ff;
    --nav-btn-secondary-color: #6d60fa;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto',sans-serif;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(var(--nav-primary-color), var(--nav-secondary-color));
    color: var(--primary-text-color);
    margin: 0 auto;
}

a {
    color: var(--btn-color);
    text-decoration: none;
}

a:hover {
    color: var(--btn-secondary-color);
}

ul {
    list-style: disc inside none;
}

.text-center {
    text-align: center;
}

.split {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.split > * {
    flex-basis: 100%;
    margin: 1rem 0;
}

img {
    width: 100%;
    display: block;
}


/*--------------------
    Nav menu
----------------------*/
.navbar {
    background: var(--nav-primary-color);
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    z-index: 1;
    width: 80%;
    max-width: 1300px;
    margin: 0 auto;
}

#logo {
    color: var(--primary-text-color);
    font-size: 1.75rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style-type: none;
    text-align: center;
}

.nav-item {
    height: 80px;
}

.nav-links {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.nav-links:hover {
    color: var(--secondary-text-color);
    transition: all 0.3s ease;
}

.nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 4px;
    color: var(--primary-text-color);
    background: var(--nav-btn-color);
}

.button:hover {
    background: var(--nav-btn-secondary-color);
    color: var(--primary-text-color);
    transition: all 0.2s ease;
}


/* END OF: Nav menu */

section {
    max-width: 1300px;
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
}

.container {
    border: 1px solid blue;
}

.level-1 {
    width: 100%;
    margin: auto 0;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

/*-------------------------
    HOME SECTION
-------------------------*/

.page-pretitle {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.75rem;
}

.page-title {
    margin: .5rem 0;
    font-size: 4rem;
}

.section-text {
    font-size: 2rem;
    font-weight: 300;
    color: var(--secondary-text-color);
    text-align: left;
}

/*---------------------------
    PROJECT SECTION
-----------------------------*/

.project-header {
    font-size: 3rem;
}

.project {
    display: flex;
    flex-direction: column;
}

.project-title {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 1rem;
}

.project-details {
    display: flex;
    flex-direction: column;
    color: var(--secondary-text-color);
    font-size: 1.5rem;
}

.project-details ul {
    margin: 1rem;
}

.project-img {
    transition:transform 0.25s ease;
}

.project-img:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.3);
}

/*
ABOUT section
*/

.about-img {
    height: 500px;
    flex-grow: 1;
}

.align-section {
    justify-content: baseline;
}

#about p {
    padding-right: 2rem;
}

footer {
    background: var(--nav-primary-color);
}

footer p {
    color: grey;
    text-align: center;
    padding: 2rem;
}

/*
Mobile 
*/

@media screen and (max-width: 960px) {
    .nav-container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 9600px;
        padding: 0;
    }

    .nav-menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #131313;
        /* Trouble seciton*/
        top: -1000px;
        opacity: 0;
    }

    .nav-menu.active {
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #logo {
        padding-left: 10%;
    }

    .nav-toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .nav-item {
        width: 100%;
    }

    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .nav-btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
    }

    .nav-toggle .bar {
        display: block;
        cursor: pointer;
    }

    /* Menu animation*/
    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .level-2 {
        display: flex;
        flex-direction: column;
    }

    .page-pretitle {
        font-size: 1rem;
    }
    
    .page-title {
        font-size: 3rem;
    }
    
    .section-text {
        font-size: 1rem;
    }

    .project-header {
        font-size: 2rem;
    }

    .project-details {
        font-size: 1rem;
    }

    .about-img {
        height: 300px;
    }

    section {
        margin: 0 auto 10rem auto;
    }
}