/*
    TODO:
    - Refactor css properties
        - set global container
        - petSpace grid not collapsing
    - Adopt page banner
*/
:root {
    --primary-nav-color: #eaedef;
    --primary-body-color: rgb(241, 238, 238);
    --secondary-body-color: #003496;
    
    --primary-text-color: rgb(0, 42, 58);
    --secondary-text-color: #606060;
    
    --nav-text-color: #502c1e;
    --btn-primary-color: #db0032;
    --btn-secondary-color: #002a3a;
    --btn-hover-color: #3cb4e5;

    --color-pink-10: rgb(255, 195, 205);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #fff ;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.15em;
    line-height: 1.6;
    min-height: 100%;
}

a {
    text-decoration: none;
    color: var(--nav-text-color);
}
a:link { text-decoration: none;}
a:hover { color: rgb(192, 192, 192);}

ul {
    list-style-type: none;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    width: 80%;
}

/* ------------------------
    NAVBAR
------------------------*/


.navbar {
    background: var(--primary-nav-color);
    color: var(--nav-text-color);
    height: 70px;
}

.nav-container {
    align-items: center;
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
    justify-content: space-between;
    width: 80%;
}

.nav-logo {
    font-size: 1em;
    cursor: pointer;
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
    overflow: auto;
}

.nav-list {
    display: flex;
    color: var(--nav-text-color);
}

.nav-list a {
    padding: 10px;
    margin: 0 5px;
}

/*-----------------------
    END OF NAVBAR
------------------------*/

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

#user-signup {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card {
    background: var(--secondary-body-color);
    padding: 10px 25px;
    border-radius: 20px;
    width: 300px;
    color: white;
}

.support-banner {
    box-sizing: border-box;
    height: 600px;
    min-width: 100%;
    background-image: url(../img/two-dogs.bmp);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 100px 50px;
}
.support-banner h2 {
    margin: 0;
    color: var(--primary-text-color);
    text-transform: uppercase;
    font-size: 62px;
    font-weight: 600;
    letter-spacing: 0px;
}

.support-banner p {
    margin: 20px 0;
    color: var(--secondary-text-color);
    text-align: left;
    height: 50px;
    font-size: 1.7em;
    word-wrap: break-word;
    word-break: break-word;
    height: 150px;
    width: 450px;
}

/* .strip used for full width .showcase*/
.showcase-strip {
    padding: 3%;
    width: 100%;
}

.primary-strip {
    background-color:var(--primary-nav-color);
}

.secondary-strip {
    background-color: transparent;  
}

.showcase-strip h1 {
    color: var(--btn-secondary-color);
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 0px;
}

.showcase-strip p {
    color: var(--secondary-text-color);
    font-size: 1.5em;
    text-align: left;
    word-wrap: break-word;
}

.strip-img {
    background-size: contain;
    background-repeat: no-repeat;
}

.strip-img-volunteer {
    height: 300px;
    width: 500px;
    background-image: url(../img/volunteer.bmp);
}

.strip-img-puppy {
    background-image: url(../img/puppy-smile.bmp);
    height: 300px;
    width: 450px;
    border-radius: 400px;
}

.strip-text-box {
    word-wrap: break-word;
    width: 100px;
}

.img-box {
    background: radial-gradient(purple, black);
    z-index: 500;
}

/*-------------------------------
    Adoption Page
--------------------------------*/

.banner {
    background: url("../img/dog-treats.jpg") no-repeat;
    background-size: cover;
    justify-content: center;
    display: grid;
    height: 250px;
}

.banner-text {
    background: #eaedef;
    display: grid;
    align-items: center;
    height: 100%;
    opacity: 0.6;
    padding: 0 8rem;
    color: var(--secondary-body-color);
    font-weight: 600;
}

.pet-space {
    background-color: transparent;
    display: grid;
    grid-template-columns: auto auto auto;
    height: 100%;
}

.pet-box {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-nav-color);
    margin: 1rem;
    align-items: center;
}

.pet-info {
    color: #003496;
    margin-bottom: 1rem;
    padding: .5rem 1rem;
}

.pet-info h3 {
    text-align: center;
}

.pet-img {
    cursor: pointer;
    margin: 1rem;
    width: 250px;
    height: 250px;
}

/*----------------------------------
    Sidebar
----------------------------------*/

.main-container {
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
    width: 80%;
}

.sidebar {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 0.5;
    background-color: var(--color-pink-10);
    font-size: 1em;
    padding: 10px 25px;
    margin: 1.5rem 0;
    max-width: 200px;
}

.sidebar-heading {
    padding: 1px;
}

.sidebar-li {
    cursor: pointer;
    margin: .5rem 0 0 .5rem;
    text-transform: capitalize;
}

.sidebar-li:hover {
    color: #606060;
}

#sidebar-button {
    display: none;
}

#sidebar-mobileview {
    display: none;
}

#sidebar-input {
    width: 100%;
    background-image: url(../img/search-solid.svg);
    background-repeat: no-repeat;
    background-size: 13px;
    background-position: 5px;
    padding-left: 20px;
}

/*---------------------------------------------
    Footer
---------------------------------------------*/
/*
.footer {
    
    grid-column: 1 /3;
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    
    
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; 
}
*/

.footer-donate {
    height: 300px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--secondary-body-color);
    color: white;
}

.footer-media {
    display: flex;
    justify-content: space-around;
    background: var(--primary-nav-color);
    color:grey;
}

.footer p {
    text-align: center;
    font-size: 0.9em;
}

.media-tray {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-between;
}

.media-tray-items {
    margin: 0 10px;
    color:var(--secondary-text-color);
}

/*********** Utility *************/
.btn {
    padding: 10px 15px;
    border: none;
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    -webkit-border-radius: 6px;
}

.primary-btn {
    background-color: var(--btn-secondary-color);
}
.secondary-btn {
    background-color: var(--btn-primary-color);
}

.primary-btn:hover,
.secondary-btn:hover {
    background-color: var(--btn-hover-color);
}

.logo-heart {
    color: var(--btn-primary-color);
}

.padded {
    margin: 20px 20px;
}

@media screen and (max-width: 880px) {
    .nav-list {
        display: none;
    }

    #mobile-menu {
        position: absolute;
        top: 3%;
        right: 3%;
    }

    #mobile-menu span {
        cursor: pointer;
        display: block;
        width: 25px;
        height: 3px;
        background: var(--nav-text-color);
        margin: 5px auto;
    }

    .sidebar {
        display: none;
    }

    #sidebar-button {
        background-color: var(--color-pink-10);
        border: none;
        border-radius: 4px;
        color: var(--nav-text-color);
        cursor: pointer;
        display: flex;
        justify-content: center;
        height: 100%;
        margin: 2rem 1rem;
        padding: .5rem 1.5rem;
        width: 4rem;

        font-size: 1.2rem;
    }

    #sidebar-button:hover {
        color: #606060;
    }

    #sidebar-button:focus {
        animation-name: growMenu;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        cursor:default;
    }

    @keyframes growMenu {
        from {
            width: 4rem;
            height: 2rem;
        }
        to {
            width: 100%;
            height: 20rem;
        }
    }

    .main-container {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    
}