/*
    TODO:
    - Adopt page banner
    - Mobile 'Filter' button needs implementation

    TABLE OF CONTENTS
    -> General
    -> Navbar
    -> Home Page
    -> Adopt Page
        -> Adopt sidebar
    -> Support Page
    -> Footer
    -> Mobile
*/

:root {
    --color-grey-10: #eaedef;
    --color-grey-20: #606060;
    --color-blue-10: #3cb4e5;
    --color-blue-30: #002a3a;
    --color-blue-20: #003496;
    --color-red-10: #db0032;
    --color-pink-10: rgb(255, 195, 205);

    --color-white: #fff;
    --color-netural-10: rgb(241, 238, 238);
    --color-netural-20: #502c1e;
    --color-black: #000;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Barlow Condensed", sans-serif;
    box-sizing: border-box;
}

/*-----------------------------
    GENERAL
-----------------------------*/

img {
    display: block;
    width: 100%;
}

section {
    padding: 4rem;
}

@media (min-width: 811px) {
    .section {
        padding: 1rem;
    }
}

.section-heading {
    color: var(--color-blue-30);
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 0px;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.section-text {
    color: var(--color-grey-20);
    font-size: 1.5em;
    line-height: 1.5;
    text-align: left;
    word-wrap: break-word;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

.container {
    margin: 0 auto;
    width: min( 90%,1200px);
}

.split {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

@media (min-width: 811px) {
    .split {
        flex-direction: row;
    }

    .split > * {
        flex-basis: 100%;
    }
}

.flex {
    display: flex;
}

.text-center {
    text-align: center;
}

.banner {
    min-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
    background-position: center;
}

.banner-space {
    background-color: rgba(255,255,255,0.6);
    border-radius: 25px;
    padding: 2rem;
    margin: 0 auto;
    width: 65%;
}

.banner-heading {
    color: var(--color-blue-30);
    text-transform: uppercase;
    font-size: 62px;
    font-weight: 600;
    letter-spacing: 0px;
}

.banner-text {
    text-align: left;
    font-size: 1.7em;
    word-wrap: break-word;
    word-break: break-word;
    height: 150px;
    width: 450px;
    overflow: hidden;
}

.btn {
    padding: 10px 15px;
    border: none;
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    border-radius: 6px;
    -webkit-border-radius: 6px;
}

.primary-btn {
    background-color: var(--color-blue-30);
}
.secondary-btn {
    background-color: var(--color-red-10);
}

.primary-btn:hover,
.secondary-btn:hover {
    background-color: var(--color-blue-10);
}

.default-theme {
    color: var(--color-grey-20);
}

.gry-theme {
    background-color:var(--color-grey-10);
    color: var(--color-grey-20);
}

.drk-blue-theme {
    background: var(--color-blue-30);
    color: var(--color-blue-10);
}

.lgt-blue-theme {
    background: var(--color-blue-10);
    color: var(--color-white);
}

.drk-blue-theme .section-heading {
    color: var(--color-grey-10);
}

/*-----------------------------
    NAVBAR
-----------------------------*/

nav {
    background-color: var(--color-blue-30);
    color: var(--color-white);
}

.nav-container {
    align-items: center;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    font-size: 1.3rem;
}

.nav-logo {
    cursor: pointer;
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
    overflow: auto;
}

.logo-heart { color: var(--color-red-10); }

.nav-list {
    display: none;
    list-style-type: none;
}

.nav-list a {
    padding: 15px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-white);
}

.nav-list a:hover { 
    color: var(--color-blue-10);
}

#mobile-menu {
    padding: 1%;
    cursor: pointer;
}

#mobile-menu span {
    display: block;
    width: 25px;
    height: 3px;
    background: var(--color-white);
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
}

.nav-list.active {
    background: var(--color-blue-10);
    width: 30vh;
    left: 100%;
    display: block;
}

#mobile-menu.is-active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active span:nth-child(2) {
    opacity: 0;
}

#mobile-menu.is-active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

@media (min-width:811px) {
    .nav-list {
        display: flex;
    }

    #mobile-menu {
        display: none;
    }
}

/*-----------------------------
    HOME PAGE
-----------------------------*/

.banner--home {
    background-image: url(../img/adopt-banner.jpg);
    height: 600px;
}

.accent-section-heading {
    color: var(--color-netural-20);
    font-size: 5rem;
    font-weight:bold;
    text-transform: uppercase;
}

/*-------------------------------
    Adoption Page
--------------------------------*/

.banner--adopt {
    background: url("../img/dog-treats.jpg") no-repeat;
    background-size: cover;
    justify-content: center;
    display: flex;
    height: 250px;
}

.banner-text--adopt {
    font-family: 'Architects Daughter', cursive;
    background: rgba(234, 237, 239, 0.8);
    display: grid;
    align-items: center;
    height: 100%;
    
    opacity: 0.7;
    padding: 0 8rem;
    color: var(--color-blue-20);
    font-weight: 600;
    line-height: 1;
}

.pet-space {
    display: flex;
    flex-wrap: wrap;
}

.pet-box {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    background-color: var(--color-grey-10);
    margin: 1rem;
    align-items: center;
}

.pet-info {
    color: #003496;
    margin-bottom: 1rem;
    padding: .5rem 1rem;
}

.pet-info h3 {
    text-align: center;
}

.pet-img {
    cursor: pointer;
    margin: 1rem;
    width: 250px;
    height: 250px;
    border-radius: 20px;
}

/*----------------------------------
    Adoption Sidebar
----------------------------------*/

.sidebar {
    display: none;    
}

#sidebar-button {
    background-color: var(--color-pink-10);
    border: none;
    border-radius: 4px;
    color: var(--nav-text-color);
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: 100%;
    margin: 2rem 1rem;
    padding: .5rem 1.5rem;
    width: 4rem;

    font-size: 1.2rem;
}

#sidebar-mobileview {
    display: none;
}

@media (min-width: 811px) {
    .sidebar {
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: var(--color-pink-10);
        font-size: 1em;
        padding: 10px 25px;
        margin: 1rem 0;
        min-width: 163px;
        max-width: 163px;
    }

    .sidebar-header {
        padding: 1px;
        cursor: pointer;
    }
    
    #sidebar-input {
        width: 100%;
        height: 2rem;
        background-image: url(../img/search-solid.svg);
        background-repeat: no-repeat;
        background-size: 13px;
        background-position: 5px;
        padding-left: 20px;
    }
    
    .sidebar-li {
        cursor: pointer;
        margin: .5rem 0 0 .5rem;
        text-transform: capitalize;
        list-style-type: none;
    }
    
    .sidebar-li:hover,
    .sidebar-header:hover {
        color: #606060;
    }

    #sidebar-button {
        display: none;
    }
}

/*----------------
    SUPPORT PAGE
----------------*/

.support-banner {
    background-image: url(../img/two-dogs.bmp);
    height: 800px;
}
.support-banner-heading {
    margin: 0;
    color: var(--primary-text-color);
    text-transform: uppercase;
    font-size: 62px;
    font-weight: 600;
    letter-spacing: 0px;
}

.support-banner-text {
    margin: 20px 0;
    text-align: left;
    height: 50px;
    font-size: 1.7em;
    word-wrap: break-word;
    word-break: break-word;
    height: 150px;
    width: 450px;
}

.shared-container {
    width: 50%;
}
#user-signup {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-position: center;
    background-size: 100%;
}

.card {
    background: var(--secondary-body-color);
    padding: 10px 25px;
    border-radius: 20px;
    width: 300px;
    color: white;
    margin: 3rem 0;
}

/*---------------------------------------------
    Footer
---------------------------------------------*/

footer {
    width: 100%;
    background: var(--primary-nav-color);
    padding: 1.5rem;
    color: grey;
}

footer h2 {
    margin: 2rem 0;
}

.footer-media {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p {
    text-align: center;
    font-size: 0.9em;
}

.media-tray {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-between;
}

.media-tray-items {
    margin: 0 10px;
    color:var(--secondary-text-color);
}