:root {
    --color-grey-10: #eaedef;
    --color-grey-20: #606060;
    --color-blue-10: #3cb4e5;
    --color-blue-30: #002a3a;
    --color-blue-20: #003496;
    --color-red-10: #db0032;
    --color-pink-10: rgb(255, 195, 205);

    --color-white: #fff;
    --color-netural-10: rgb(241, 238, 238);
    --color-netural-20: #502c1e;
    --color-black: #000;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Barlow Condensed", sans-serif;
    box-sizing: border-box;
}

/*---------------
    General
----------------*/
.container {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
}

.border {
    border: 1px solid red;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    margin-bottom: 1rem;
}

.btn {
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px 15px;
    border: none;
}

.btn-alt {
    background: var(--color-red-10);
}

.btn-alt:hover {
    background-color: var(--color-blue-10);
}

.text-center {
    text-align: center;
}

.split {
    display: flex;
    gap: 1rem;
}


img {
    max-width: 100%;
}

/*------------------
    Typography
------------------*/
/*Banner-heading*/
h1 {
    color: var(--color-blue-30);
    font-size: 5rem;
    font-weight: 600;
    letter-spacing: 0px;
}

/*Section heading, */
h2 {
    color: var(--color-blue-30);
    font-size: 5rem;
}

p {
    font-size: 1.5rem;
    line-height: 1.5rem;
}

@media screen and (min-width: 860px) {
    
}

/*----------------------
    Nav
-----------------------*/
nav {
    background: var(--color-blue-30);
    color: var(--color-white);
    height: 70px;
    display: flex;
    align-items: center;
}

.logo-heart {
    color: var(--color-red-10);
}

nav a {
    text-decoration: none;
    font-size: 1.3rem;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#mobile-menu {
    cursor: pointer;
}

#mobile-menu span {
    display: block;
    background: #fff;
    height: 3px;
    width: 25px;
    margin: 5px auto;
}

.nav-logo a {
    color: var(--color-blue-10);
}

.nav-list {
    display: none;
}

.nav-list li {
    list-style-type: none;
}

.nav-list a {
    padding: 1rem;    
    color: var(--color-white);
}

.nav-list a:hover {
    color: var(--color-blue-10);
}

@media screen and (min-width: 860px) {
    .nav-list {
        display: flex;
    }
    #mobile-menu {
        display: none;
    }
}

/*--------------
    Home page
--------------*/
#home-page section {
    padding: 5rem 0;
}

.banner-home {
    background: url(../img/home-banner.jpg) no-repeat;
    background-size: cover;
    height: 600px;
    
}

#home-page .banner-space {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    justify-content: flex-start;
    align-items: center;
}

#home-page .banner-heading {
    margin-bottom: 1rem;
}

.gry-theme {
    background: var(--color-grey-10);
}

/*----------------------------
    Adoption page
    .banner
    .sidebar
    -> .search
    -> .breed-list
    .main
    -> #adoption-content 
        -> .petbox
            ->.pet-img
            ->.pet-details
                ->.pet-name
                ->.pet-gender
                ->.pet-age
                ->.pet-breed
-----------------------------*/
.banner-adopt {
    background: url(../img/dog-treats.jpg);
    height: 250px;
    background-size: cover;
}

.banner h1 {
    color: #fff;
}
.main-content {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
}

.sidebar {
    display: none;
}

.sidebar h2 {
    font-size: 1.5rem;
}

.search-bar {
    font-size: 1rem;
    width: 100%;
    border-radius: 5px;
    padding: .2rem;
}

.breed-list li {
    list-style-type: none;
    padding: .2rem 0;
    width: 100%;
}

.breed-list a {
    padding: .2rem;
    color: #002b54;
    text-decoration: none;
    width: 100%;
}

.breed-list a:hover {
    color: #fff;    
}

.main {
    flex: 1 1 65%;
    min-width: 35ch;
}

#adoption-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
}

.pet-box {
    box-shadow: 0 0 3em rgba(0, 0, 0, 0.2);
    background: #adbcc0;
    border-radius: 10px;
    padding: .5rem;
    margin-bottom: 1rem;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
}

.pet-img {
    object-fit:contain;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.pet-details {
    margin-top: .5rem;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
}

@media screen and (min-width: 860px) {
    .sidebar {
        display: block;
        flex: 1 1 30%;
        max-width: 20ch;
        background: var(--color-pink-10);
        border-radius: 10px;
        padding: .5rem;
    }
}

/*--------------------------
    Footer 
--------------------------*/
footer {
    background: var(--color-blue-30);
}

footer .container {
    color: var(--color-blue-10);
    width: 70%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

footer h2{
    color: var(--color-blue-10);
    font-size: 2rem;
}

footer button {
    margin: 1rem 0;
}

.footer-media {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: .5rem 0;
}

.media-tray {
    display: flex;
}

.media-tray a {
    margin-left: 1rem;
    color: var(--color-blue-10);
}

.media-tray a:hover {
    color: var(--color-grey-10);
}

footer p {
    font-size: 1rem;
}

@media screen and (min-width: 860px) {
    .footer-media {
        flex-direction: row;
    }
}